<h1>{{title}}</h1>
<p>{{message}}</p>
<a href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri=<url>&client_id=<client_id>&scope=esi-characters.read_notifications.v1&state=<something>"><img src="/images/sso.png"/></a>